* {
  text-align: center;
  font-family: 'Zen Dots', cursive;
  color: white;
}

body {
  background: #1e272e;
}

header {
  margin: 2rem;
}

header img {
  border-radius: 10rem;
  border-width: 0.5rem;
  border-style: solid;
}

header span {
  font-size: larger;
}

#links {
  display: grid;
  justify-content: center;
}

.opacity-animation {
  animation-name: opacity;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes opacity {
  50% {
    opacity: 0;
  }
}

a {
  text-decoration: none;
}

.box {
  text-align: start;
  padding: 1rem;
  width: 30vw;
  margin-bottom: 2rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

.box:hover {
  filter: brightness(1.4);
}

.teal {
  background: teal;
}

.purple {
  background: rgb(156, 39, 156);
}

.blue {
  background: rgb(56, 56, 158);
}

span {
  line-height: 3rem;
}

@media screen and (max-width: 1200px) {
  header {
    margin-top: 1rem;
  }

  header img {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 800px) {
  *, header span {
    font-size: medium;
  }

  header {
    margin-top: 1rem;
  }

  header img {
    width: 8rem;
    height: 8rem;
  }

  .box img {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  *, header span {
    font-size: small;
  }

  header {
    margin-top: 1rem;
  }

  header img {
    width: 8rem;
    height: 8rem;
  }

  .box img {
    width: 1.5rem;
    height: 1.5rem;
  }
}