* {
  font-family: 'Zen Dots', cursive;
  color: white;
}

body {
  background: #0f1316;
  animation: fade 500ms;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}

header, .box, #links {
  display: flex;
}

header {
  margin: 2rem;
  flex-direction: column;
  align-items: center;
}

.logo-box {
  width: 12%;
}

.logo-box img {
  width: 100%;
  height: auto;
  border-radius: 10rem;
  border: 0.2rem solid;
}

header h1 {
  font-size: clamp(1.4em, 0.5em + 2vw, 1.6em);
}

.words {
  font-size: clamp(0.8em, 0.5em + 2vw, 1em)
}

.cursor {
  font-size: larger;
}

#links {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

a {
  text-decoration: none;
}

.box {
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 0.5rem;
  width: 25vw;
  border-radius: 1rem;
  transition: filter, transform, 0.3s;
}

.box:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.image-box {
  width: 10%;
}

.image-box img {
  width: 100%;
  border-radius: 0.5rem;
}

.opacity-animation {
  animation: opacity 0.6s infinite;
}

.fifth-link {
  cursor: pointer;
}

@keyframes opacity {
  50% {
    opacity: 0;
  }
}

.gray {
  background: rgb(99, 115, 131);
}

.green {
  background: rgb(37, 131, 73);
}

.light-blue {
  background: rgb(22, 96, 146);
}

.dark-blue {
  background: rgb(34, 77, 194);
}

.orange-gradient {
  background: linear-gradient(225deg, orange, blue);
}

@media screen and (max-width: 1200px) {
  header {
    margin-top: 1rem;
  }

  .box {
    width: 40vw;
  }

  .box:hover {
    transform: none;
  }

  .logo-box {
    width: 20%;
  }
}

@media screen and (max-width: 800px) {
  .box {
    width: 50vw;
  }

  .logo-box {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .box {
    width: 60vw;
  }

  .logo-box {
    width: 40%;
  }
}

@media screen and (max-width: 400px) {
  .logo-box {
    width: 55%;
  }

  .image-box {
    width: 20%;
  }
}